$color-disable: #d4d4d4;
$bgcolor-disable: #f5f5f5;
$greyborder: #c9c9c9;
$checkbox-selected: hsl(0, 0%, 40%);

w-branches {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    min-height: 0px;
}
