$color-disable: #d4d4d4;
$bgcolor-disable: #f5f5f5;
$greyborder: #c9c9c9;
$checkbox-selected: #666;
w-branch {
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    min-height: $module-size;
    &:hover{
        border-radius: calc($module-size * 0.45);
        background-color: rgba(0, 0, 100, 0.01);
    }
    >.header {
        display: grid;
        font-size: calc($module-size * 0.5);
        grid-template-columns: auto auto auto 1fr auto auto;
        justify-items: stretch;
        padding: 0px;
        padding-bottom: 1px;
        position: relative;
        max-height: $module-size;
        min-height: $module-size;
        width: 100%;
        &:hover{
            border-radius: calc($module-size * 0.45);
            background-color: rgba(0, 0, 100, 0.1);
            >.edit{
                opacity: 1;
            }
        }
         >.switcher, >.checkbox, >.label, >.edit, >.percent {
            display: inline-block;
            line-height: $module-size;
            max-height: $module-size;
            min-height: $module-size;
            vertical-align: middle;
        }
        >.spacer {
            width: 0;
        }
        >.switcher{
            max-width: $module-size;
            min-width: $module-size;
            position: relative;
            transition: transform 150ms ease-out;
            &:before {
                display: inline-block;
                border: calc($module-size * 0.3) solid transparent;
                border-top: calc($module-size * 0.3) solid rgba(0, 0, 0, 0.4);
                content: ' ';
                left: calc($module-size * 0.3);
                position: absolute;
                top: calc($module-size * 0.4);
                transition: border-color 150ms;
            }
            &:hover:before {
                border-top: calc($module-size * 0.3) solid rgba(0, 0, 0, 0.65);
            }
        }
        >.checkbox{
            min-width: $module-size;
            max-width: $module-size;
            display: inline-block;
            vertical-align: middle;
            width: $module-size;
            height: $module-size;
            cursor: pointer;
            position: relative;

            &:before {
                //transition: all 0.3s;
                cursor: pointer;
                position: absolute;
                content: ' ';
                display: block;
                width: calc($module-size * 0.8);
                height: calc($module-size * 0.8);
                border: calc($module-size * 0.1) solid $greyborder;
                border-radius: calc($module-size * 0.1);
            }
            &:hover {
                &:before {
                    box-shadow: 0 0 calc($module-size * 0.1) calc($module-size * 0.05) $checkbox-selected;
                }
            }
            &.radio{
                &:before {
                    border-radius: 50%;
                }
            }
        }
        >.label{
            line-height: $module-size;
            overflow: hidden;
            padding-left: calc($module-size * 0.25);
            padding-right: calc($module-size * 0.25);
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .edit{
            background-color: black;
            border-radius: 50%;
            color: white;
            opacity: 0;
            text-align: center;
        }
        .percent{
            background-color: blueviolet;
            border-radius: calc($module-size * 0.45);
            box-sizing: border-box;
            color:#fff;
            display: inline-block;
            font-family: sans-serif;
            margin: calc($module-size * 0.05);
            max-width: calc($module-size*5);
            min-width: calc($module-size*5);
            text-align: center;
            vertical-align: middle;
            transition: transform 150ms ease-out;
        }
    }
    .branches{
        font-family: inherit;
    }
}

w-branch {
    &.selected {
        > .header{
            font-weight: bold;
            color: rgba(0, 0, 0, 1);
        }
    }
    &.closed {
        > .header{
            > .switcher {
                top: calc($module-size * 0.1);
                transform: rotate(-90deg);
            }
        }
        > .branches {
            height: 0;
            overflow: hidden;
        }
    }

    &.checked {
        > .header{
            & > .checkbox {
                &:before {
                    background-color: $checkbox-selected;
                    border-color: $checkbox-selected;
                }
                &:after {
                    position: absolute;
                    content: ' ';
                    display: block;
                    top: calc($module-size * 0.15);
                    left: calc($module-size * 0.35);
                    width: calc($module-size * 0.25);
                    height: calc($module-size * 0.45);
                    border: calc($module-size * 0.1) solid #fff;
                    border-top: none;
                    border-left: none;
                    transform: rotate(45deg);
                }
            }
        }
    }

    &.halfchecked {
        > .header{
            & > .checkbox {
                &:before {
                    background-color: $checkbox-selected;
                    border-color: $checkbox-selected;
                    opacity: 0.5;
                }
                &:after {
                    position: absolute;
                    content: ' ';
                    display: block;
                    top: calc($module-size * 0.45);
                    left: calc($module-size * 0.25);
                    width: calc($module-size * 0.5);
                    height: calc($module-size * 0.1);
                    background-color: #fff;
                }
            }
        }
    }

    &.disabled {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25);
        > .header {
            .checkbox {
                cursor: not-allowed;
                &:before {
                    cursor: not-allowed;
                    border-color: $greyborder !important;
                    background-color: $bgcolor-disable !important;
                }
                &:hover:before {
                    box-shadow: none !important;
                }
            }

            .checked {
                & > .checkbox {
                    &:after {
                        border-color: $greyborder;
                    }
                }
            }

            .halfchecked {
                & > .checkbox {
                    &:after {
                        background-color: $greyborder;
                    }
                }
            }
        }
    }
    &.leaf {
        > .header{
            > .switcher {
                background-color: rgba(0, 0, 0, 0.4);
                border: none;
                border-radius: 50%;
                left: 0px;
                top: 0px;
                transform: scale(40%);
                &:before {
                    border: none;
                    border-radius: 50%;
                    left: 0px;
                    top: 0px;
                }
                &:hover:before {
                    border: none;
                    border-radius: 50%;
                    left: 0px;
                    top: 0px;
                }
            }
        }
    }
}

w-branches{
    &.radio {
        .checkbox{
            border-radius: 50%;
            &:before {
                border-radius: 50%
            }
            &:hover {
                &:before {
                    border-radius: 50%
                }
            }
        }
    }
}

