$body-bg-color: #f2f2f2;
$body-fg-color: #2f2f2f;


body {
    background-color: $body-bg-color;
    border: none;
    color: $body-fg-color;
    font-family: sans-serif;
    display: grid;
    grid-template-rows: 2em 1fr 2em;
    margin: 0px;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    padding: 0px;
}

body>#header,
body>#footer{
    background-color: $body-fg-color;
    color: $body-bg-color;
    display: inline-block;
    line-height: 2em;
    max-height: 2em;
    max-width: 100%;
    min-height: 2em;
    min-width: 100%;
    vertical-align: middle;
}

body>#central{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    overflow: hidden;
    overflow-y: auto;
}

body>#central>#left,
body>#central>#left{
    background-color: rgba(0,0,0,0.1);
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

body>#central>#main{
    background-color: white;
    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    overflow-y: auto;
}